body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #7c0965;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #79116c;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    border-radius: 25px;
    background-color: #79116c;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #79116c;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #105215;
}

#resultatsRecherche {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #79116c;
}

.resultat {
    margin-top: 20px;
}

.resultat-individuel {
    border: 20px solid #ccc;
    border-radius: 20px; 
    padding: 10px;
    margin-bottom: 10px;
}

.resultat-individuel p {
    margin: 5px 0;
}